$background: #121214;
$black: #121214;
$green-active-light: #72D38D;
$green-active:#27C137;
$primary: #B68867;
$primary20: #B6886733;
$primary-light: #C5A085;
$red-basic: #F04438;
$white: #FEFEFF;
$white05: #1E1E20;
$white10: #39393B;
$white20: #4F4F51;
$white30: #656566;
$white5: #B688680D;
$white50: #919192;
$white70: #BDBDBE;
$white80: #D3D3D3;
$white90: #E9E9E9;
