@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxygen&display=swap");
@import "vars.scss";
@import "common-styles.scss";

@import "header.scss";
@import "bread-crumbs.scss";
@import "car-order.scss";
@import "contact-us.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: $background;
}